{% extends "base.html" %}
{% load static %}

{% block title %}Access Denied{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-12 col-md-8 mx-auto text-center">
            <h1 class="display-4 mb-4">403 - Access Denied</h1>
            <div class="mb-4">
                <img src="{% static 'images/403.png' %}" alt="Access Denied" class="img-fluid" style="max-height: 300px;">
            </div>
            <p class="lead mb-4">You don't have permission to access this page.</p>
            <a href="{% url 'pages:home' %}" class="btn btn-primary">Return to Homepage</a>
        </div>
    </div>
</div>
{% endblock %}